VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=fundmanager
VITE_APPWRITE_DB_ID=welfare_db
VITE_APPWRITE_MEMBERS_COLLECTION=members
VITE_APPWRITE_CONTRIBUTIONS_COLLECTION=contributions
VITE_APPWRITE_OVERDRAFTS_COLLECTION=overdrafts
VITE_APPWRITE_PROFILES_COLLECTION=profiles
